# Most of this config file is from https://github.com/karlstav/cava
# which is MIT licenced, and copyright the respective authors

[general]
framerate = 120
lower_cutoff_freq = 20
higher_cutoff_freq = 20000
FFTbufferSize = 8
autosens = 0
sensitivity = 50
bars = 32


[input]
method = shmem
source = /squeezelite-dc:a6:32:c0:5c:0d


[output]
channels = stereo
method = raw
# In ascii format each bar and frame is separated by a delimiter.
# Use decimal value in ascii table (i.e. 59 = ';' and 10 = '\n' (line feed)).
raw_target = /dev/stdout
data_format = ascii
bar_delimiter = 59
frame_delimiter = 10
ascii_max_range = 65536


[smoothing]
monstercat = 1
waves = 0
integral = 0
gravity = 10
ignore = 0


[eq]
0 = 3
1 = 2
2 = 2


[pluto]
clock_font = fonts/pf_tempesta_seven_compressed.ttf
clock_size = 8
fade_clock = True
# 0.05 works well with cava at 120fps
afterimage_alpha = 0.05
clock_color = [255, 100, 10]
text_font = fonts/pf_tempesta_seven_condensed.ttf
text_color = [65, 255, 0]
clock_hz = 30
clock_blend_alpha = 0.00001
scheme_switch_timer = 900
cava_config_timer = 5
scroll_speed = 4
#splash_screen = images/rainbow_mountains.jpg
